.nav-container {
  display: flex;
}

.nav-link {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  scroll-behavior: smooth;
}

.active-link,
.nav-link:hover {
  border-radius: 5px;
  background: yellow;
  border-color: transparent;
}

.nav-link-title {
  margin-left: 0.5rem;
}
