%flex {
  display: flex;
}

%in-flex {
  display: inline-flex;
}

%align-i-cen {
  align-items: center;
}

%just-c-cen {
  justify-content: center;
}

%just-c-space-b {
  justify-content: space-between;
}

%just-c-space-ev {
  justify-content: space-evenly;
}

%just-c-space-ar {
  justify-content: space-around;
}

%f-flow-rw {
  flex-flow: row wrap;
}

%f-flow-cr {
  flex-flow: column wrap;
}

%f-dir-col {
  flex-direction: column;
}

%f-gap-1-5 {
  gap: 1.5rem;
}

%flex-col {
  @extend %flex;
  @extend %f-dir-col;
  @extend %just-c-cen;
  @extend %align-i-cen;
}
