<form
  class="search-form"
  (ngSubmit)="handleAutocompleteSearch(searchControl.value)"
>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input
      class="search-input"
      type="text"
      aria-label="Text"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      required
      minLength="1"
      placeholder="Search a city"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
    <button type="submit" mat-button class="search-btn">
      <fa-icon [icon]="faMagnifyingGlass" class="search-icon"></fa-icon>
    </button>
  </mat-form-field>
</form>
