@use "../../styles/main.scss";

.search-form {
  margin: 2rem auto;
  @extend %flex;
  @extend %f-j-ce;
}

.mat-form-field-infix {
  display: flex;
  flex-wrap: wrap;
}

.search-input {
  width: 80%;
}

.search-icon {
  padding-right: 0.5rem;
}
