@use "../../styles/main.scss";

.searched-location-container {
  max-width: 60vw;
  display: flex;
  align-content: center;
  text-align: center;
  margin: 1rem auto 2rem auto;
}

.location-info-wrapper {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.location-icon {
  font-size: 2.5em;
  margin: 0 1rem 1rem 0;
}

.location-info {
  display: inline-flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.favorite-btn {
  padding: 1.5rem;
  max-height: 2.5rem;
  margin: auto 0 auto auto;
  display: inline-flex;
  gap: 0.5rem;
  background-color: main.$light-blue;
  border-radius: 5px;
  @extend %f-it-cen;
  box-shadow: 3px 3px rgb(0 0 0 / 14%);
  background-color: #3282b8;
  border-radius: 5px;
}

@media screen and (min-width: 1230px) {
  .searched-location-container {
    max-width: 40vw;
  }
}

@media screen and (max-width: 700px) {
  .searched-location-container {
    max-width: 75vw;
  }

  .favorite-btn {
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .searched-location-container {
    max-width: 80vw;
  }

  .favorite-btn {
    padding: 0.25rem;
    font-size: 0.95em;
  }
}
