@use "../../styles/main.scss";

.searched-location-container {
  max-width: 95vw;
  @extend %flex;
  align-content: center;
  text-align: center;
  margin: 1rem auto 2rem auto;
}

.location-info-wrapper {
  @extend %flex;
  @extend %align-i-cen;
  flex-flow: row wrap;
  color: main.$yellow;
  margin: 0 auto;
}

.location-icon {
  font-size: 1.5em;
}

.location-info {
  @extend %in-flex;
  gap: 0.75rem;
  padding-left: 1rem;
  font-size: 1.7em;
}

.location-info p:first-child {
  font-weight: 550;
}

.location-info p:last-child {
  font-weight: 600;
}

.favorite-btn {
  padding: 1.5rem 1rem;
  max-height: 2rem;
  @extend %in-flex;
  gap: 0.5rem;
  background-color: main.$active-blue;
  border-radius: 5px;
  @extend %align-i-cen;
  box-shadow: 3px 3px rgb(0 0 0 / 14%);
  border-radius: 5px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}

.fav-icon {
  color: rgb(255 0 0 / 50%);
}

@media screen and (min-width: 1230px) {
  .searched-location-container {
    max-width: 40vw;
  }
}

@media screen and (max-width: 700px) {
  .searched-location-container {
    max-width: 75vw;
  }

  .favorite-btn {
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .searched-location-container {
    max-width: 80vw;
  }

  .favorite-btn {
    padding: 0.25rem;
    font-size: 0.95em;
  }
}
