@use "../../../styles/main.scss";

.cards-container {
  @extend %grid;
  @extend %grid-tem-col;
  @extend %grid-tem-row;
  @extend %grid-gap;
  padding: 2rem 1rem 0 1rem;
  margin: 2rem auto;
}

.card {
  box-shadow: 0px 3px 5px #00000024;
  @extend %trans-1;
  @extend %flex;
  @extend %just-c-cen;
  @extend %f-dir-col;
  @extend %align-i-cen;
  gap: 1rem;
  border-radius: 10px;
  background-color: main.$lightly-blue;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: 550;
  padding: 1rem 0;
}

.fav-card:hover {
  cursor: pointer;
}

.card div {
  margin-bottom: 0.5rem;
}

.shrink-cards-con {
  @extend %flex;
  @extend %just-c-cen;
  grid-template-columns: 10rem;
}

@media screen and (min-width: 1230px) {
  .cards-container {
    padding: 2rem 6.5rem 0 6.5rem;
  }

  .card {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 700px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(8vw, 1fr));
    grid-template-rows: repeat(2, 15vh);
    padding: 1rem 0.25rem;
    margin: 0;
  }

  .card {
    gap: 0;
    font-size: 0.85em;
  }

  .shrink-cards-con {
    grid-template-columns: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .cards-container {
    margin: 2.5rem 0;
    grid-template-columns: repeat(3, minmax(25vw, 1fr));
    grid-template-rows: repeat(2, 12vh);
    grid-gap: 1.5rem;
  }

  .shrink-cards-con {
    grid-template-columns: 10rem;
  }
}
