@use "../../../styles/main.scss";

.cards-container {
  @extend %grid;
  @extend %grid-tem-col;
  @extend %grid-tem-row;
  @extend %grid-gap;
  padding: 2rem 1rem 0 1rem;
  margin: 2rem auto;
}

.card {
  box-shadow: 0px 3px 5px #00000024;
  @extend %trans-1;
  @extend %flex;
  @extend %just-c-cen;
  @extend %f-dir-col;
  @extend %align-i-cen;
  @extend %f-gap-1-5;
  padding: 2rem;
  border-radius: 10px;
  background-color: main.$lightly-blue;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
}

.fav-card {
  padding: 0;
  font-size: 1em;
  text-align: center;
}

.fav-card:hover {
  cursor: pointer;
}

.card div {
  margin-bottom: 0.5rem;
}

.shrink-cards-con {
  @extend %flex;
  @extend %just-c-cen;
  grid-template-columns: 10rem;
}

@media screen and (min-width: 1230px) {
  .cards-container {
    padding: 2rem 6.5rem 0 6.5rem;
  }
}

@media screen and (max-width: 700px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(10vw, 1fr));
  }

  .shrink-cards-con {
    grid-template-columns: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .cards-container {
    grid-template-columns: repeat(2, minmax(10vw, 1fr));
  }

  .shrink-cards-con {
    grid-template-columns: 10rem;
  }
}
