@use "../../styles/main.scss";

.favorites-container {
  position: relative;
  z-index: 2;
}

.fav-info-wrapper {
  @extend %flex;
  @extend %f-dir-col;
  gap: 0.25rem;
}

.fav-info-wrapper div:first-child {
  color: main.$yellow;
  font-weight: 550;
}

.fav-info-wrapper div:nth-child(2) {
  font-weight: 600;
}

.clear-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  scroll-behavior: smooth;
}

.no-fav {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.2em;
}

@media screen and (max-width: 700px) {
  .fav-info-wrapper {
    gap: 0.25rem;
    letter-spacing: initial;
  }
}
