$white: rgb(254, 254, 254); // #fefefe
$white-smoke: rgb(245, 245, 245);
$light-grey: rgb(246, 246, 246); //
$light-blue: rgb(134, 185, 206); //	#86b9ce
$light-md-blue: rgb(110, 133, 178); // #6E85B2 **
$prime-blue: rgb(66, 116, 253); // #4274fd
$light-purple: rgb(119, 114, 226); // 	#7772e2
$medium-purple: rgb(62, 44, 65); //#3E2C41 **
$dark-purple: rgb(38, 28, 44); // #261C2C **
$prime-purple: rgb(92, 82, 127); // #5C527F **
$green: rgb(98, 199, 153); // 	#62c799
$orange: rgb(251, 166, 108); // #fba66c
$yellow: rgb(253, 209, 73); // #fdd149
$red-alert: rgb(255, 68, 68); // #ff4444
$transparent: transparent;
$dark-grey: #1b262c;
$medium-blue: #0f4c75;
$active-blue: #3282b8;
$lightly-blue: #bbe1fa66; // #bbe1fa66 bbe1fa
$dark-blue: #0d2056;
