/* Font-Family */
$ff-main: "Lato", sans-serif;

/* Font-Size */
$fs: ();

/* Font-Weight */
$fw: (
  fw-300: 300,
  fw-400: 400,
  fw-600: 600,
  fw-700: 700,
  fw-900: 900,
);

/* Letter-Spacing */
$ls: (
  ls-normal: "normal",
  ls-s1: 0.05em,
  ls-s2: 0.07em,
  ls-l: 0.1em,
);
