/* Font-Family */
$ff-main: "Lato", sans-serif;

/* Font-Size */
$fs: (
  2-5-em: 2.5em,
  095-em: 0.95em,
  3-7-em: 3.7em,
  3-2-em: 3.2em,
  2-8-em: 2.8em,
  1-2-em: 1.2em,

  100: 100%
);

/* Font-Weight */
$fw: (
  fw-300: 300,
  fw-400: 400,
  fw-600: 600,
  fw-700: 700,
  fw-900: 900,
);

/* Letter-Spacing */
$ls: (
  ls-normal: "normal",
  ls-s1: 0.05em,
  ls-s2: 0.07em,
  ls-l: 0.1em,
);
